%# ----------------------------------------------------------------------------
<%args>
    $username => undef
    $code     => undef
</%args>
%# ----------------------------------------------------------------------------
<%init>
    my $err;
    my $is_confirmed = 0;

    if ( defined $username and defined $code ) {
        # firstly look up this username
        my $model = $ZAAPT->get_model('Account');

        my $account = $model->sel_account_using_username({ a_username => $username });
        $err = 'Unknown account' unless defined $account;

        my $confirm = $model->sel_confirm( $account );

        if ( $model->confirm({ a_username => $username, c_code => $code }) ) {
            $is_confirmed = 1;
        }
        else {
            $err = 'Username/Confirmation code not found. If you have already confirmed your account you do not need to do it again.';
        }
    }
</%init>
%# ----------------------------------------------------------------------------
% if ( $is_confirmed ) {
<h1>Congratulations</h1>

<p>
    Your account has been confirmed, you may proceed to <a href="sign-in.html">sign in</a>.
</p>

% } else {
<h1>...confirm your email</h1>

<& /zaapt/common/err.mhtml, err => $err &>

<p>
    Please type in your username and confirmation code from the email you were
    sent when you signed up. Or even simpler still, click the link given in the
    email or paste it into the URL address bar.
</p>

<div class="box center">
<form action="confirm.html" method="post">
    Username<br />
    <input type="text" name="username" value="<% $username || '' | h %>" /><br />
    Code<br />
    <input type="text" name="code" value="<% $code || '' | h %>"/><br />
    <br />
    <input type="submit" name="action" value="Confirm Sign Up" /><br />
</form>
</div>

<p class="soft center">
    If you have lost your confirmation code, please send an email (using the
    same email address you signed up with) to <code>&lt;admin [at] kiwiwriters
    [dot] org&gt;</code> stating your username, firstname and lastname. Thanks.
</p>

% }

%# ----------------------------------------------------------------------------
<%flags>
    inherit => 'althandler'
</%flags>
%# ----------------------------------------------------------------------------
