%# ----------------------------------------------------------------------------
<%args>
    $username => ''
    $password => ''
</%args>
%# ----------------------------------------------------------------------------
<%init>
    my $err;

    # if this person is already signed in, they don't need any of this...
    if ( $SESS->{_signed_in} ) {
        $m->redirect('/my/');
        return;
    }

    if ( $username ne '' and $password ne '' ) {
        # check the username and password properly
        my $model = $ZAAPT->get_model('Account');
        my $account = $model->sel_account_for_authentication({ a_username => $username, a_password => $password });
        if ( defined $account ) {
            # use WebApp to manage the session for us and place some things in there
            WebApp::Session::sign_in( $SESS, $r, $DBH, 'session', ".$CFG->{domain_name}" );
            foreach ( qw( id username firstname lastname email admin logins last ) ) {
                $SESS->{$_} = $account->{"a_$_"};
            }

            # get the roles for this user sel_roles_for_account
            my $roles = $model->sel_roles_for_account({ a_id => $account->{a_id} });
            foreach my $role ( @$roles ) {
                $SESS->{roles}{$role->{r_id}} = $role->{r_name};
                if ( $role->{r_name} eq 'super' ) {
                    $SESS->{roles}{super} = $role->{r_id};
                }
            }

            # update last login info
            $model->upd_logins({ a_id => $account->{a_id} });

            $m->redirect('/my/');
            return;
        }
        else {
            $err = 'Sorry, username/password not found';
        }
    }
    else {
        unless ( $username eq'' and $password eq '' ) {
            $err = 'Please provide both your username and password';
        }
    }
</%init>
%# ----------------------------------------------------------------------------
% if ( 0 ) {
<pre>
username = <% $username | h %>
password = <% $password | h %>
</pre>
% }
<h1>Please sign in...</h1>

<p class="err"><% $err | h %></p>
<div class="box center">
<form action="sign-in.html" method="post">
    Username<br />
    <input type="text" name="username" value="<% $username || '' | h %>" /><br />
    Password<br />
    <input type="password" name="password" /><br />
    <br />
    <input type="submit" value="Sign In" /><br />
</form>
</div>

% if ( 0 ) {

<h2>Forgotten your password?</h2>

<p>
    We can reset your password by sending you a new one via email. This will
    only come into effect when you click the link sent to you though you may
    also safely ignore it.
</p>

<div class="box center">
<form action="password-reset.html" method="post">
    Username<br />
    <input type="text" name="username" value="<% $username || '' | h %>" /><br />
    <br />
    <input type="submit" value="Password Reset" /><br />
</form>
</div>

<p class="center soft">
    Please note that for security reasons, we do not store your passwords in
    plain text. This means that we can only reset your password - we cannot
    send you your current one.
</p>

% }
%# ----------------------------------------------------------------------------
<%flags>
    inherit => 'althandler'
</%flags>
%# ----------------------------------------------------------------------------
