Source: kiwiwriters
Section: web
Priority: optional
Maintainer: Andrew Chilton <andychilton@gmail.com>
Build-Depends: debhelper (>= 4.1.16)
Standards-Version: 3.5.5.0

Package: kiwiwriters
Architecture: all
Depends: debconf, ${shlibs:Depends}, libhtml-mason-perl, libapache-dbi-perl, libapache-request-perl, libdbd-pg-perl, libconfig-simple-perl, libxml-rss-perl, libxml-atom-perl, pgpatcher, libwebapp-perl, zaapt, libmail-sendmail-perl, libstring-random-perl, libbbcode-parser-perl, apache-perl
Recommends: 
Suggests: 
Description: site for all Kiwi Writers
 Homepage: http://kiwiwriters.org/
