#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Decide how important it is for the user to see this message
PRIORITY=high

# What DomainName
db_input $PRIORITY kiwiwriters/domain_name || true
db_go

# What vhost alias
db_input $PRIORITY kiwiwriters/server_alias || true
db_go

# Database Name
db_input $PRIORITY kiwiwriters/db_name || true
db_go

# Database User
db_input $PRIORITY kiwiwriters/db_user || true
db_go

# Show Google Adsense?
db_input high kiwiwriters/google_adsense_show || true
db_go

# Show PayPal?
db_input high kiwiwriters/paypal_donate_show || true
db_go

# Staging?
db_input high kiwiwriters/server_staging || true
db_go

# Live?
db_input high kiwiwriters/server_live || true
db_go
