/* andreas06 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work.

Version: 1.1, November 28, 2005 */

body{
background:#e0e0e0 url(/s/bodybg.gif) repeat-x;
color:#505050;
font:76% Georgia,Verdana,Tahoma,Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
}

p{
line-height:1.5em;
margin:0 0 15px;
}

a{
color:#fa9035;
font-weight:700;
text-decoration:none;
}

a:hover{
color:#d04a10;
}

hr{
height:1px;
margin:10px 0;
width:98%;
}

dt{
font-weight:700;
}

dd{
margin:1px 0 12px 15px;
}

#container{
background:#c0c0c0 url(/s/bodybg.gif) repeat-x;
margin:0 auto;
text-align:left;
width:752px;
}

#sitename{
background:url(/s/banner.png) top center no-repeat;
color:#ffffff;
font-weight:400;
height:80px;
margin:0 20px 10px 0;
text-align:center;
}

#sitename h1{
font-size:2.2em;
margin:0;
padding-top:20px;
}

#sitename span{
font-size:1.6em;
letter-spacing:-1px;
margin:0;
}

#nav{
background:url(/s/greypx.gif) bottom left repeat-x;
float:left;
width:752px;
}

#nav ul{
list-style:none;
margin:0;
padding:0;
}

#nav a{
background:url(/s/tabs.gif) no-repeat 100% 0;
color:#808080;
display:block;
font-size:1.2em;
letter-spacing:-1px;
padding:7px 20px 4px 11px;
text-decoration:none;
}

#nav a:hover{
color:#505050;
}

#nav li{
background:url(/s/tabs.gif) no-repeat 0 0;
float:left;
margin:0 4px 0 0;
padding:0 0 0 9px;
}

#nav #current{
background:url(/s/tabs.gif) no-repeat 0 -41px;
}

#nav #current a{
background:url(/s/tabs.gif) no-repeat 100% -41px;
color:#303030;
padding:7px 20px 5px 11px;
}

#dropdown{
background:url(/s/greypx.gif) bottom left repeat-x;
float:left;
width:752px;
}

#dropdown ul{
list-style:none;
margin:0;
padding:0;
position:relative;
}

#dropdown a{
background:url(/s/tabs.gif) no-repeat 100% 0;
color:#808080;
display:block;
font-size:1.2em;
letter-spacing:-1px;
padding:7px 20px 4px 11px;
text-decoration:none;
}

#dropdown a:hover{
color:#505050;
}

#dropdown li{
background:url(/s/tabs.gif) no-repeat 0 0;
float:left;
margin:0 4px 0 0;
padding:0 0 0 9px;
}

#dropdown li#current{
background:url(/s/tabs.gif) no-repeat 0 -41px;
}

#dropdown li#current a{
background:url(/s/tabs.gif) no-repeat 100% -41px;
color:#303030;
padding:7px 20px 5px 11px;
}

#dropdown ul li ul {
position:absolute;
/* width: 10em; */
left:-999em;
background: #ecf1f5;
z-index:1;
border: 1px solid #ccc;
}

#dropdown ul li ul li {
background: #ecf1f5;
float:none;
}

#dropdown ul li ul a {
font-size:1em;
display: block;
text-decoration: none;
color: #777;
background: #ecf1f5;
padding: 5px;
/*
border: 1px solid #ccc;
border-bottom: 0;
*/
}

#dropdown ul li:hover ul { left: auto; }

#wrap1.menu{
background:#ffffff url(/s/innerbg-menu.gif) repeat-y;
}

#wrap1.wide{
background:#ffffff url(/s/innerbg-wide.gif) repeat-y;
}

#wrap1{
border-bottom:1px solid #808080;
border-left:1px solid #808080;
border-right:1px solid #808080;
clear:both;
padding:0;
width:750px;
margin-bottom:20px;
}

#wrap2.menu{
background:url(/s/header-menu.jpg) top left no-repeat;
}

#wrap2.wide{
background:url(/s/header-wide.jpg) top left no-repeat;
}

#wrap2{
padding:10px;
width:730px;
}

#header{
height:30px;
position:relative;
width:730px;
}

#header h1{
float:left;
font-size:1.4em;
margin:0;
width:180px;
}

#topbox{
color:#808080;
margin:0 0 35px;
text-align:right;
}

#topbox a{
color:#d04a10;
}

#topbox a:hover{
text-decoration:underline;
}

#leftside{
float:left;
margin: 0 0;
width:145px;
}

#leftside h1{
font-size:1.4em;
font-weight:400;
}

#content.menu{
margin:0px 15px 0 180px;
}

#content.wide{
margin:0px 15px 0 15px;
}

#content p{
margin:8px 0 0 10px;
}

#content h1{
color:#505050;
font-size:2em;
font-weight:400;
margin:15px 0 10px;
padding:0;
}

#content h2{
color:#505050;
font-size:1.5em;
font-weight:400;
margin:20px 0 10px;
padding:0;
}

#content img{
border:0;
}

#content img.logo{
border:1px solid #fa9035;
float:left;
margin:5px 15px 6px;
}

#footer{
clear:both;
color:#a0a0a0;
font-size:0.9em;
height:26px;
margin-top:20px;
padding:1px;
text-align:right;
width:730px;
}

#footer a{
color:#a0a0a0;
font-weight:400;
}

#footer a:hover{
color:#a0a0a0;
text-decoration:underline;
}

.menublock{
margin-bottom:10px;
}

.nav{
color:#d04a10;
display:block;
font-size:1.1em;
font-weight:700;
margin-bottom:1px;
padding:2px 2px 2px 10px;
position:relative;
text-decoration:none;
width:125px;
}

.nav:hover{
border:1px solid #fa9035;
color:#505050;
padding:1px 1px 1px 9px;
}

.sub{
font-size:0.9em;
/*margin-left:20px;*/
padding:1px 1px 1px 20px;
width:116px;
}

.sub:hover{
border:1px solid #fa9035;
color:#505050;
padding:0 0 0 19px;
}

.intro{
font-weight:700;
}

.active{
border:1px solid #fa9035;
padding:1px 1px 1px 9px;
}

.box{
background:#f8f8f8 url(/s/boxbg.gif) top left repeat-y;
border:1px solid #d0d4d4;
color:#505050;
margin:15px auto;
padding:10px 10px 10px 20px;
width:75%;
}

.photo{
margin:5px auto 15px;
padding:5px;
}

.smallcaps{
font-variant:small-caps;
}

.mini{
color:#a0a0a0;
font-size:0.75em;
font-weight:400;
line-height:1.2em;
margin:20px 0 10px 8px;
}

.small{
font-size:0.85em;
}

.large{
font-size:1.4em;
}

.soft{
color:#808080;
}

.normal{
font-weight:400;
}

.sharp{
color:#101010;
}

.center{
text-align:center;
}

.right{
text-align:right;
}

.hide{
display:none;
}

.floatright{
float:right;
}

table {
width: 100%;
}

th {
background:url(/s/grad.png) repeat-x;
}

th, td {
padding: 0.25em 0.5em;
margin: 0;
}

table.edit{
width:100%;
}

th{ 
text-align:center;
}

th.list{ 
width:70%;
}

th.action{ 
width:30%;
}

table.split{
width:100%;
}

table.split th{
width:50%;
}

table.split td{
width:50%;
vertical-align: top;
}

.r0{
background-color:#e7e7e7;
}

.r1{
background-color:#f0f0f0;
}

.nw{
white-space: nowrap;
}

.top{
vertical-align: top;
}

.key{
vertical-align:top;
text-align:right;
font-weight:bold;
width: 25%;
}

.val{
vertical-align:top;
text-align:left;
width: 75%;
}

.err{ 
color:red;
}

pre{
background:#f8f8f8 url(/s/boxbg.gif) top left repeat-y;
border:1px solid #d0d4d4;
color:#505050;
margin:15px auto;
padding:10px 10px 10px 20px;
width:75%;
}

.footnote{
color:#808080;
text-align: right;
font-size:0.85em;
}

.bbcode-u{
text-decoration: underline;
}

.z-comments{ 
background-image: url('/s/i/comment.png');
background-repeat: no-repeat;
background-position: left;
padding-left: 20px;
}

.clear{
clear:both;
}
